<app-navbar></app-navbar>
<div class="m-3">
	<form class = "container">
		<div class="form-group row m-4">
			<div class="col-sm">
				<label for="title">Book Title: </label>
				<input class="form-control" type="text" placeholder="search by title" id="title" name="title" [(ngModel)] = "title">
			</div>
		</div>
		<div class="form-group row m-4">
			<div class="col-sm">
				<label for="author">Book's Author: </label>
				<input class="form-control" type="text" placeholder="search by author's name" id="author" name="author" [(ngModel)] = "author">
			</div>
		</div>
	
		<div class="row m-5 center-align">
            <button type="button" class="btn btn-primary mx-auto" (click)="handleSubmit()"  [ngStyle]="{'min-width': '20%'}">Search</button>
        </div>
	</form>
</div>
<app-book-list-display [bookList] = "list"></app-book-list-display>

