<div *ngIf="bookList != undefined && bookList.length > 0; else emptyList">
    <div *ngFor="let book of bookList;let i = index" class="container">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">{{book.volumeInfo.title}}</span>
                  <p>{{book.volumeInfo.description}}</p>
                  <p><em>Author(s): {{book.volumeInfo.authors}}</em></p>
                </div>
                <div class="card-action">
                  <a href="#">Add to Reading List</a>
                </div>
              </div>
    </div>
</div>
<ng-template #emptyList>
    <div class="container center-align">
        <div class="card-panel red lighten-4">
            <span class="white-text ">Nothing To Display!</span>
        </div>
    </div>
</ng-template>